## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import matplotlib.pyplot as plt
%matplotlib inline  

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/weatherpy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
1,2,Quatre Cocos,MU,71.71,-20.2078,57.7625,Sunrise Attitude Hotel
2,11,Hilo,US,81.25,19.7297,-155.0900,Hilo Hawaiian Hotel
3,12,Cayhagan,PH,77.85,9.6697,122.4256,Melrose Beach Resort
4,15,Lompoc,US,72.10,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"

In [17]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [37]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(roadtrip)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Caravelas']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Caravelas']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Iguatemi']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'San Rafael'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Rio Grande'] 
vacation_stop3

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
107,291,Rio Grande,BR,77.11,-32.035,-52.0986,Hotel Atlântico Rio Grande

In [27]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start.iloc[0,4:6].to_numpy()
end = vacation_end.iloc[0,4:6].to_numpy()
stop1 = vacation_stop1.iloc[0,4:6].to_numpy()
stop2 = vacation_stop2.iloc[0,4:6].to_numpy()
stop3 = vacation_stop3.iloc[0,4:6].to_numpy()

start

array([-17.7125, -39.2481], dtype=object)

In [29]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Caravelas = start
Iguatemi = stop1
San_Rafael = stop2
Rio_Grande = stop3 
roadtrip = gmaps.directions_layer(Caravelas, Caravelas, 
                                  waypoints=[Iguatemi, San_Rafael, Rio_Grande],
                                  travel_mode="DRIVING")

In [30]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,179,Caravelas,BR,75.99,-17.7125,-39.2481,Pousada dos Navegantes
1,102,Iguatemi,BR,76.69,-23.6803,-54.5611,Hotel Seriema
2,244,San Rafael,AR,75.27,-34.6177,-68.3301,Hotel San Rafael
3,291,Rio Grande,BR,77.11,-32.0350,-52.0986,Hotel Atlântico Rio Grande

In [31]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [36]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))